<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{url_for('static', filename='js/cufon-yui.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/arial.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cuf_run.js')}}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="/">Library<span>Pro</span></a> <small>put your slogan here</small></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="#">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
          <input name="button_search" src="{{ url_for('static', filename='images/search_btn.gif')}}" class="button_search" type="image" />
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="footer">
    <div class="footer_resize">
      <p class="lr">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="lf">Design by <a href="http://www.atomicwebsitetemplates.com/">Atomic Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
